.tkimv-appearance {
	
}

.tkimv-gridviewoptionset {
	list-style-type: none;
}

.tkimv-gridviewoptionset	> li {
  float: left;
  display: block;
  clear: none;
  width: 150px;
  min-height: 140px;
  margin: 5px;
  padding: 10px 15px;
  border: 2px solid #eee;
}

.tkimv-gridviewoptionset	> li:hover {
  background-color: #fafbfc;
}
		
.tkimv-gridviewoptionset	> li:after {
  content: "";
  display: table;
  clear: both;
}
	
.tkimv-gridviewoptionset	> li label {
  display: block;
  height: 100%;
  padding-left: 0;
}
	
	
.tkimv-gridviewoptionset	* {
  box-sizing: border-box;
}
	
.tkimv-gridviewoptionset	.radio {
  visibility: visible;
} 

.tkimv-gridviewoption__content {
	margin-top: 5px;
	text-align: center;
}

.tkimv-gridviewoption__icon {
	text-align: center;
}

.tkimv-gridviewoption__icon img {
	max-width: 100%;
	display: inline-block;
	height: auto;
}

.tkimv-gridviewoption__text {
	
}

h5.tkimv-gridviewoption__title {
	margin: 5px 0;
	padding: 0;
	font-weight: bold;
	color: #666;
	text-align: center;
	height: 2em;
}

.tkimv-gridviewoption__description {
	
}


